Assignments - SB1 - AJ/Assignment - 5 - AJ/Assignment - 5 - Node-RED - AJ.json
[{"id":"5c4db4c3.7f142c","type":"tab","label":"Flow 4","disabled":false,"info":""},{"id":"f8b0d162.359c8","type":"cloudant out","z":"5c4db4c3.7f142c","name":"","cloudant":"","database":"assignment-5-sb1-aj","service":"node-red-wdlig-2021--cloudant-1625752421003-26946","payonly":false,"operation":"insert","x":560,"y":140,"wires":[]},{"id":"45f9125f.19832c","type":"inject","z":"5c4db4c3.7f142c","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":140,"y":140,"wires":[["c04b6dff.5aaf2"]]},{"id":"c04b6dff.5aaf2","type":"ui_form","z":"5c4db4c3.7f142c","name":"Sign-Up Form","label":"Sign-Up Form","group":"33a9777b.d94368","order":2,"width":0,"height":0,"options":[{"label":"Name","value":"name","type":"text","required":true,"rows":null},{"label":"Email","value":"email","type":"email","required":true,"rows":null},{"label":"Date of Sign-Up","value":"date","type":"date","required":true,"rows":null},{"label":"Time of Sign-Up","value":"time","type":"time","required":true,"rows":null}],"formValue":{"name":"","email":"","date":"","time":""},"payload":"","submit":"submit","cancel":"cancel","topic":"topic","topicType":"msg","splitLayout":"","x":320,"y":140,"wires":[["f8b0d162.359c8","24d87d20.3dae62"]]},{"id":"24d87d20.3dae62","type":"debug","z":"5c4db4c3.7f142c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":530,"y":200,"wires":[]},{"id":"33a9777b.d94368","type":"ui_group","name":"IoT_Device5a","tab":"2eff4d83.c5da6a","order":1,"disp":true,"width":"12","collapse":false},{"id":"2eff4d83.c5da6a","type":"ui_tab","name":"IoT_Device_a5","icon":"dashboard","disabled":false,"hidden":false}]