Assignments - SB1 - AJ/Assignment - 3 - AJ/Assignment - 3 - Node-RED - AJ.json
[{"id":"b0395c57.2eb8","type":"tab","label":"Flow 2","disabled":false,"info":""},{"id":"340ca186.875c7e","type":"ibmiot in","z":"b0395c57.2eb8","authentication":"apiKey","apiKey":"1b34b156.dfc1ef","inputType":"evt","logicalInterface":"","ruleId":"","deviceId":"15201","applicationId":"","deviceType":"18BEC1278_1A_SB1","eventType":"+","commandType":"","format":"json","name":"IBM IoT","service":"registered","allDevices":"","allApplications":"","allDeviceTypes":false,"allLogicalInterfaces":"","allEvents":true,"allCommands":"","allFormats":"","qos":0,"x":170,"y":200,"wires":[["1a6b7501.b1f87b","13f0047c.1b9f8c","d9c22fa0.d8f1f"]]},{"id":"1a6b7501.b1f87b","type":"debug","z":"b0395c57.2eb8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":650,"y":200,"wires":[]},{"id":"13f0047c.1b9f8c","type":"function","z":"b0395c57.2eb8","name":"Light Intensity","func":"msg.payload = msg.payload.li\nglobal.set('li', msg.payload)\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":400,"y":240,"wires":[["1a6b7501.b1f87b","3f9f6bec.1aaac4"]]},{"id":"d9c22fa0.d8f1f","type":"function","z":"b0395c57.2eb8","name":"Water Level","func":"msg.payload = msg.payload.wl\nglobal.set('wl',msg.payload)\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":410,"y":160,"wires":[["1a6b7501.b1f87b","39f37fc0.229e2"]]},{"id":"3f9f6bec.1aaac4","type":"ui_chart","z":"b0395c57.2eb8","name":"","group":"6be06531.35b47c","order":1,"width":10,"height":6,"label":"Light Intensity Chart","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"5","removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":680,"y":240,"wires":[[]]},{"id":"39f37fc0.229e2","type":"ui_gauge","z":"b0395c57.2eb8","name":"","group":"6be06531.35b47c","order":2,"width":10,"height":6,"gtype":"gage","title":"Water Level Gauge","label":"%","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":670,"y":160,"wires":[]},{"id":"20bb0e4e.8d7732","type":"inject","z":"b0395c57.2eb8","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":180,"y":160,"wires":[["d9c22fa0.d8f1f","13f0047c.1b9f8c"]]},{"id":"5e15d6ee.6b0e78","type":"http in","z":"b0395c57.2eb8","name":"Sensor IN","url":"a3sensor","method":"get","upload":false,"swaggerDoc":"","x":180,"y":340,"wires":[["6f9ea786.ddb3f8"]]},{"id":"f2ad8e5a.9fd1","type":"http response","z":"b0395c57.2eb8","name":"Sensor OUT","statusCode":"","headers":{},"x":650,"y":340,"wires":[]},{"id":"6f9ea786.ddb3f8","type":"function","z":"b0395c57.2eb8","name":"","func":"msg.payload = {\"waterlvl\": global.get('wl'), \"lightint\": global.get('li')}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":400,"y":340,"wires":[["f2ad8e5a.9fd1","940c7212.ea1e2"]]},{"id":"940c7212.ea1e2","type":"debug","z":"b0395c57.2eb8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":650,"y":380,"wires":[]},{"id":"1b34b156.dfc1ef","type":"ibmiot","name":"API_IoT","keepalive":"60","serverName":"","cleansession":true,"appId":"","shared":false},{"id":"6be06531.35b47c","type":"ui_group","name":"1278SensorData3a","tab":"2eff4d83.c5da6a","order":3,"disp":true,"width":"10","collapse":false},{"id":"2eff4d83.c5da6a","type":"ui_tab","name":"IoT_Device_a5","icon":"dashboard","disabled":false,"hidden":false}]
