Assignments - SB1 - AJ/Assignment - 4 - AJ/Assignment - 4 - Node-RED - AJ.json
[{"id":"8a3434b3.b19358","type":"tab","label":"Flow 3","disabled":true,"info":""},{"id":"ecc9bfb.f551e4","type":"http in","z":"8a3434b3.b19358","name":"","url":"/a4login","method":"post","upload":false,"swaggerDoc":"","x":190,"y":220,"wires":[["45e5c69d.96aad8","98fd7fa8.0f11","4085133b.fb043c","afd5b740.634488"]]},{"id":"45e5c69d.96aad8","type":"debug","z":"8a3434b3.b19358","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":490,"y":180,"wires":[]},{"id":"98fd7fa8.0f11","type":"ui_text","z":"8a3434b3.b19358","group":"f609fdee.08bf2","order":2,"width":0,"height":0,"name":"","label":"Username","format":"{{msg.payload.Username}}","layout":"col-center","x":310,"y":300,"wires":[]},{"id":"4085133b.fb043c","type":"ui_text","z":"8a3434b3.b19358","group":"f609fdee.08bf2","order":3,"width":0,"height":0,"name":"","label":"Password","format":"{{msg.payload.Password}}","layout":"col-center","x":540,"y":300,"wires":[]},{"id":"afd5b740.634488","type":"ibmiot out","z":"8a3434b3.b19358","authentication":"apiKey","apiKey":"1b34b156.dfc1ef","outputType":"cmd","deviceId":"15201","deviceType":"18BEC1278_1A_SB1","eventCommandType":"cmd","format":"json","data":"data","qos":0,"name":"IBM IoT","service":"registered","x":660,"y":220,"wires":[]},{"id":"f609fdee.08bf2","type":"ui_group","name":"IoT_Device4a","tab":"54710f3.f087ff","order":1,"disp":true,"width":"6","collapse":false},{"id":"1b34b156.dfc1ef","type":"ibmiot","name":"API_IoT","keepalive":"60","serverName":"","cleansession":true,"appId":"","shared":false},{"id":"54710f3.f087ff","type":"ui_tab","name":"IoT_Device_a4","icon":"IoT_Device_a4","disabled":false,"hidden":false}]